<section class="battlebar">
  <section class="actiontext">
  </section>
  <section class="actionoptions">
    <button class="actionmove firstmove">{{[0].name}}</button>
    <button class="actionmove secondmove">{{[1].name}}</button>
    <button class="actionmove thirdmove">{{[2].name}}</button>
    <button class="actionmove fourthmove">{{[3].name}}</button>
  </section>
</section>
