<section class="battlebar">
  <section class="actiontext">
  </section>
  <section class="actionoptions">
    <div class="actionmoves">{{[0].name}}</div>
    <div class="actionmoves">{{[1].name}}</div>
    <div class="actionmoves">{{[2].name}}</div>
    <div class="actionmoves">{{[3].name}}</div>
  </section>
</section>
