<div class="selection-stage-player">
  <h3 class="player-selection-status pulse">Choose your Pokemon!</h3>
</div>
<div class="character-grid-container">
</div>
<div class="selection-stage-enemy">
  <h3 class="enemy-selection-status pulse">Choose your opponent!</h3>
</div>
<h3 class="selection-waiting-alert pulse">Awaiting selections...</h3>
<button class="start-game-button slideExpandUp">Click to start battle!</button>
