<div class="character-grid-container">
</div>
<div class="selection-stage">
  <span class="selection-stage-divider">
    <h3>VERSUS</h3>
    <button class="start-game-button">Start Game</button>
  </span>
</div>
