<div class="character-grid-container">
</div>
  <div class="selection-stage">
    <div class="player-one"></div>
    <button class="start-game-button">Start Game</button>
    <div class="player-two"></div>
  </div>
