<div class="character-grid-container"
  <ul>
    <li class="character-portrait"><img src="assets/character-portraits/venusaur.png" alt="Venusaur"></li>
    <li class="character-portrait"><img src="assets/character-portraits/blastoise.png" alt="Blastoise"></li>
    <li class="character-portrait"><img src="assets/character-portraits/charizard.png" alt="Charizard"></li>
    <li class="character-portrait"><img src="assets/character-portraits/articuno.jpeg" alt="Articuno"></li>
    <li class="character-portrait"><img src="assets/character-portraits/zapdos.png" alt="Zapdos"></li>
    <li class="character-portrait"><img src="assets/character-portraits/moltres.png" alt="Moltres"></li>
    <li class="character-portrait"><img src="assets/character-portraits/lugia.png" alt="Lugia"></li>
    <li class="character-portrait"><img src="assets/character-portraits/gengar.png" alt="Gengar"></li>
    <li class="character-portrait"><img src="assets/character-portraits/gyarados.png" alt="Gyarados"></li>
    <li class="character-portrait"><img src="assets/character-portraits/dragonite.png" alt="Dragonite"></li>
    <li class="character-portrait"><img src="assets/character-portraits/mewtwo.png" alt="Mewtwo"></li>
    <li class="character-portrait"><img src="assets/character-portraits/snorlax.png" alt="Snorlax"></li>
  </ul>
</div>
<button class="start-game-button">Start Game</button>
