<div class="enemyinfo">
  <span class="enemyname">{{name}}</span>
  <div class="enemyhp">HP<div class="enemyhealthbox"><div class="enemyhealthbar"></div></div></div>
</div>

<div class="enemybox">
  <img src="{{image.front}}" class="enemygif">
</div>
