<section class="winscreen">
  <h1 class="wintext">You Win!</h1>
  <img src="http://media.giphy.com/media/FSBSB5UDRomuQ/giphy.gif" class="winimage">
  <img src="../../pokemon-gifs/trainer1.gif" class="trainer">
  <img src="../../pokemon-gifs/pikachu.gif" class="pikachu">
</section>
<button class="playagain">Play Again!</button>
