<section class="losescreen">
  <h1 class="losetext">You Lose</h1>
  <img src="http://media.giphy.com/media/wzRfW1SV1DSec/giphy.gif" class="loseimage">
  <div class="gameboy"></div>
</section>
<button class="playagain">Play Again!</button>
