<div class="playerbox">
  <img src="{{image.back}}" class="playergif">
</div>

<div class="playerpokemoninfo">
  <span class="playerpokemonname">{{name}}</span>
  <div class="playerhp">HP<div class="playerhealthbar"></div></div>
</div>
