<section class="arenacontent">
  <div class="pokemondisplay">

  </div>
  <div class="battlemenu">

  </div>
  <audio class="battle-theme-audio" src="assets/audio/pokemon-battle-theme-orchestra.mp3" autoplay loop></audio>
</section>
