<div class="title-elements">
  <img src="../assets/title-screen.jpg" alt="title image" class="title-image" />
  <button class="start-button slideLeft">Click to Play!</button>
</div>
<audio class="battle-theme-audio" src="assets/audio/pokemon-title-screen.mp3" autoplay loop></audio>
