@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$pokemon-yellow: #ffca43;
$pokemon-blue: #2d68a8;
$pokemon-red: #dd423e;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

/* .application {
  width: 800px;
  height: auto;
  margin: 0 auto;
} */

// Title Screen Styles

.title-image {
  margin: 0 auto;
  display: block;
}


.start-button {
  position: absolute;
  top: 429px;
  left: 933px;
  display: block;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: impact;
  font-size: 30px;
  font-style: italic;
  color: $pokemon-red;
  background-color: $pokemon-yellow;
  border-radius: 50%;
}



// Character Selection Grid Styles

.character-grid-container {
  display: inline-block;
  width: 800px;
  height: auto;
  margin: 10px auto;
}

.character-portrait {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 0;
  margin-bottom: 0;
  border: 4px solid $pokemon-red;
  border-radius: 20%;
  background: -webkit-radial-gradient(circle, #1a82f7, #fff);}

.character-portrait img {
  width: 96px;
  height: 96px;
  padding: 5px;
}

li {
  list-style: none;
}

.player-on-stage {
  text-align: center;
}

.selection-stage-player,
.selection-stage-enemy {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: 100px 0 0 0;
}

.enemy-selection-status {
  display: none;
}

.player-selection-status,
.enemy-selection-status {
  text-align: center;
  font-family: impact;
  font-size: 30px;
  font-style: italic;
  color: $pokemon-red;
}

.selection-stage {
  width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

.selection-stage img {
  width: 96px;
  height: 96px;
}

.selection-waiting-alert {
  text-align: center;
  font-family: impact;
  font-size: 30px;
  font-style: italic;
  color: $pokemon-red;
  margin: 5px;
}

.start-game-button {
  display: none;
  width: 100%;
  font-family: impact;
  font-size: 40px;
  font-style: italic;
  color: $pokemon-red;
  background: $pokemon-yellow;
  border: 2px solid $pokemon-blue;
}



 // Arena Styles
.arenacontent {
  @include outer-container($max-width);
  height: auto;
  font-family: 'VT323', ;
  overflow: hidden;
}

.pokemondisplay {
  @include span-columns(8);
  @include shift(2);
  height: 400px;
  margin-top: 100px;
  background-image: url('../../assets/battlebackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.playerbox {
  width: auto;
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
  height: auto;
}

.playerpokemoninfo {
  @include span-columns(2.5);
  height: 60px;
  position: absolute;
  margin-top: 325px;
  margin-left: 450px;
  background-color: rgba(248, 243, 217, 1);
  border-radius: 30px;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}

.enemyinfo {
  @include span-columns(2.5);
  position: absolute;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 30px;
  padding: 5px;
  border: 2px solid black;
  background-color: rgba(248, 243, 217, 1);
  text-align: center;
}

.playerhealthbox {
  @include span-columns(10);
  float: right;
  margin-top: 5px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.enemyhealthbox {
  @include span-columns(10);
  float: right;
  margin-top: 5px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.playerhealthbar {
  width: 100%;
  height: 8px;
  background-color: red;
  border-radius: 5px;
}

.enemyhealthbar {
  width: 100%;
  height: 8px;
  background-color: red;
  border-radius: 5px;
}

.playerhp {
  @include span-columns(11);
  @include shift(.5);
  margin-top: 5px;
  padding: 2px;
  color: rgba(255, 213, 73, 1);
  border-radius: 10px;
  background-color: rgba(101, 98, 82, 1);
}

.enemyhp {
  @include span-columns(11);
  @include shift(.5);
  margin-top: 5px;
  padding: 2px;
  color: rgba(255, 213, 73, 1);
  border-radius: 10px;
  background-color: rgba(101, 98, 82, 1);
}

.playerpokemonname {
  font-size: 20px;
}

.enemyname {
  font-size: 20px;
}

.enemybox {
  width: auto;
  position: absolute;
  margin-top: 100px;
  margin-left: 450px;
}

.battlebar {
  @include span-columns(8);
  @include shift(2);
  height: 120px;
  background-color: rgba(74, 67, 81, 1);
}

.actiontext {
  @include span-columns(7);
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: white;
}

.actionoptions {
  @include span-columns(4.7 of 12);
  @include omega();
  float: right;
}

.actionmove {
  @include span-columns(5.8);
  @include omega();
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: white;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 3px;
  color: black;
}

.losescreen {
  @include outer-container($max-width);
  background-image: url('../../assets/centre.png');
  background-size: cover;
}

.gameboy {
  @include span-columns(3.9);
  @include shift(4.3);
  height: 600px;
  background-image: url("../../assets/gameboy.jpg");
  background-size: cover;
  background-position: -40px -5px;
  background-repeat: no-repeat;
  box-shadow: inset 0 -10px 10px rgba(240, 240, 204, 1);
}

.loseimage {
  position: absolute;
  width: 190px;
  height: 190px;
  z-index: 1;
  margin-top: 50px;
  margin-left: 470px;
}

.losetext {
  position: absolute;
  margin-top: 300px;
  text-align: center;
  color: black;
  font-size: 80px;
}

.winscreen {
  @include outer-container($max-width);
  height: 500px;
  background-image: url('../../assets/stadium.jpg');
  background-size: cover;
}

.winimage {
  @include span-columns(2.9);
  height: 135px;
  margin-left: 39%;
  margin-top: 11%;
}

.trainer {
  @include span-columns(.8);
  height: 80px;
  margin-top: 28%;
  margin-left: -15%;
}

.wintext {
  @include span-columns(2);
  position: absolute;
  margin-left: 450px;
  text-align: center;
  color: white;
}

.pikachu {
  margin-top: 325px;
  margin-left: -80px;
}

.playagain {
  max-width: 100px;
  height: 50px;
  position: absolute;
  left: 45%;
  margin-top: 10px;
}
